{% extends "layout.html" %}

{% block show_question %}
	
	{% for message in get_flashed_messages() %}
	  <div class=flash>{{ message }}</div>
	{% endfor %}

	<h1><a href="/">←</a> {{ question.title }}</h1>
	<div class=question>
		<h4>{{ question.text|safe }}</h4>
		Tags: 
		{% for tag in tags %}
			<a href="/">
				{{ tag.name|safe }} 
			</a>
		{% endfor %}
	</div>

	<ul class=answer>
		{% for answer in answers %}
			<li>{{ answer.text|safe }}</li>
		{% else %}
			<em>No answers so far..</em>
		{% endfor %}

		<!--   {% if session.logged_in %} -->
		<li>
			<form action="{{ url_for('add_answer') }}" method=post class=add-entry>
				<dl>
					<dt>Answer:
					<dd><textarea name=text rows=5 cols=40></textarea>
					<dd><input type="hidden" name="question_id" value="{{ question.id }}">
					<dd><input type=submit value=Add>
				</dl>
			</form>
		</li>
		<!--   {% endif %} -->
	</ul>

{% endblock %}